.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.09);
}

.header-logo {
  width: 30px;
}

.header-title {
  font-size: 1.4rem;
  font-weight: 400;
}
