.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--bg-header);
  box-shadow: 0px 2px 7px var(--shadow);
  color: var(--text-main);
}

.header-logo {
  width: 30px;
  height: 30px;
}

.header-title {
  font-size: 1.4rem;
  font-weight: 500;
}
