.no-ingredients-msg {
  margin-bottom: 1.2rem;
}

.ingredients-list {
  list-style: none;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.no-ingredients-msg,
.ingredients-list {
  color: var(--text-muted);
}

.ingredients-list li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.ingredients-list li::before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: currentColor;
  margin-right: 0.5rem;
}

.remove-ingredient-btn {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 1rem;
  background-color: var(--accent-color); /* Цвет иконки */
  mask: url("/icons/close.svg") no-repeat center;
  -webkit-mask: url("/icons/close.svg") no-repeat center;
}
