main {
  padding: 2rem;
}

.ingredient-form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.ingredient-inp,
.ingredient-add-btn {
  padding: 10px;
  height: auto;
  border-radius: 5px;
  border: none;
}

.ingredient-inp {
  flex: 1 1 300px;
  box-shadow: 0px 0px 5px 2px var(--shadow);
  background-color: var(--bg-input);
  color: var(--text-main);
}

.ingredient-add-btn {
  background-color: var(--bg-btn-main);
  color: var(--text-on-btn);
}

h2 {
  margin-bottom: 1.2rem;
}

.get-recipe-container {
  display: flex;
  gap: 1rem;
  width: fit-content;
  background-color: var(--bg-secondary);
  padding: 1.5rem;
  border-radius: 0.5rem;
  align-items: center;
  margin-bottom: 2.5rem;
  position: relative;
}

.get-recipe-container p {
  font-size: 0.9rem;
  color: var(--text-muted);
  margin-top: 1rem;
}

.get-recipe-btn {
  height: fit-content;
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--accent-color);
  color: var(--white);
}

.get-recipe-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading {
  position: absolute;
  translate: 0 100%;
  bottom: -0.5rem;
  left: 0;
}

.error-message {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
