main {
  padding: 2rem;
}

.ingredient-form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.ingredient-inp,
.ingredient-add-btn {
  padding: 10px;
  height: auto;
  border-radius: 5px;
  border: none;
}

.ingredient-inp {
  flex: 1 1 300px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.185);
}

.ingredient-add-btn {
  background-color: black;
  color: white;
}

h2 {
  margin-bottom: 1.2rem;
}

.no-ingredients-msg {
  color: rgb(75, 75, 75);
  margin-bottom: 1.2rem;
}

.ingredients-list {
  list-style: none;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  color: rgb(75, 75, 75);
}

.ingredients-list li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.ingredients-list li::before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: currentColor;
  margin-right: 0.5rem;
}

.get-recipe-container {
  display: flex;
  gap: 1rem;
  width: fit-content;
  background-color: rgb(223, 219, 219);
  padding: 1.5rem;
  border-radius: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.get-recipe-container p {
  font-size: 0.9rem;
  color: rgb(75, 75, 75);
  margin-top: 1rem;
}

.get-recipe-btn {
  height: fit-content;
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(233, 92, 67);
  color: white;
}

.get-recipe-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
