.recipe-card {
  margin: 2rem auto;
  max-width: 800px;
  padding: clamp(1rem, 5vw, 3rem);
  background-color: var(--bg-card);
  border-radius: 20px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
  color: var(--text-main);
  transition: background-color 0.3s ease;
}

.recipe-card h2 {
  color: var(--accent-color);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.recipe-card h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-main);
  display: flex;
  align-items: center;
  gap: 10px;
}

.recipe-card p {
  margin: 1rem 0;
}

.recipe-ingredients {
  background-color: var(--bg-secondary);
  padding: 0.8rem 1.5rem;
  border-radius: 12px;
  list-style: none;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
}

.recipe-ingredients li {
  padding: 0.7rem 0;
  border-top: 2px dashed var(--border-color);
  display: flex;
  justify-content: space-between;
  transition: border 0.3s ease;
}

.recipe-ingredients li:first-child {
  border-top: none;
}

.recipe-instructions {
  padding-left: 1.2rem;
}

.recipe-instructions li {
  margin-bottom: 1.2rem;
  padding-left: 0.5rem;
  color: var(--text-main);
  line-height: 1.6;
}

.recipe-instructions li::marker {
  color: var(--accent-color);
  font-weight: bold;
}

.pin-btn {
  color: rgb(157, 157, 157);
  background-color: transparent;
  outline: 2px solid var(--border-color);
  outline-offset: -2px;

  border: none;
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pin-btn svg {
  display: block;
  transform: rotate(35deg);
  transition: transform 0.3s ease;
}

.pin-btn.active {
  color: var(--white);
  background-color: var(--accent-color);
  outline: none;
}

.pin-btn.active svg {
  transform: rotate(0deg);
}
