@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --accent-color: #ff6b6b; /* Приятный коралловый для заголовков */
  --bg-card: #ffffff;
  --text-main: #2d3436;
  --text-muted: #636e72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: Inter, Arial;
  background-color: rgb(238, 238, 238);
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

button {
  cursor: pointer;
}
